<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boggle</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <h1>BOGGLE!</h1>
    <div class="text-container">
        <p>Times Played: {{ numplays }}</p>
        <p>High Score: {{ highscore }}</p>
    </div>
    <section id="boggle">
        <table class="board">
            <tbody>
                {% for row in board %}
                <tr>
                    {% for char in row %}
                    <td>
                        {{ char }}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <form action="" method="post">
            <input type="text" autofocus>
            <button>Enter</button>
        </form>
        <div class="text-container">
            <p id="time-par">Time remaining = <span id="timer"></span> sec </p>
            <p id="score">Score: 0</p>
            <p id="response"></p>
        </div>
    </section>
    <script src="http://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/axios@0.19.0/dist/axios.js"></script>
    <script src="/static/boggle.js"></script>

</body>

</html>